{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EmailEditor plugin for Craft CMS 3.x
 *
 * EmailEditor settings.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2018 Kurious Agency
 * @link      kurious.agency
 * @package   EmailEditor
 * @since     2.0.0
 */
#}
{% import "_includes/forms" as forms %}
{% set title = "Email Editor | Settings" %}


{% block content %}

    <h2>Email Settings</h2>

    {{ forms.selectField({
        label: "Email Section"|t('email-editor'),
        instructions: "Select the Entries Section containing emails",
        id: 'sectionid',
        name: 'sectionId',
        options: sections,
        value: settings.sectionId
    }) }}

    <h2>Custom Emails</h2>

    {{ forms.editableTable({
        'instructions': 'Set Custom Emails.'|t('email-editor'),
        'id': 'customEmails',
        'name': 'customEmails',
        'staticRows':false,
        'addRowLabel': 'Add Custom Email'|t('email-editor'),
        'cols': {
            'key': {
                'heading': 'Key'|t('email-editor'),
                'type': 'singleline'
            },
            'heading': {
                'heading': 'Default Heading'|t('email-editor'),
                'type': 'singleline'
            },
            'subject': {
                'heading': 'Default Subject'|t('email-editor'),
                'type': 'singleline',
            },
            'body': {
                'heading': 'Default Body'|t('email-editor'),
                'type': 'multiline',
            }
        }, 
        'rows': settings.customEmails
    }) }}


{% endblock %}